[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "auto.pca"]
	path = auto.pca
	url = https://github.com/cran/auto.pca
	shallow = true
	registered = true
[submodule "BinarybalancedCut"]
	path = BinarybalancedCut
	url = https://github.com/cran/BinarybalancedCut
	shallow = true
	registered = true
